.Weather ul {
    margin-top: 20px;
    margin-left: 50px;
    list-style: none;
}

.Weather .temperature {
    font-size: 40px;
}

.Weather .description {
    text-transform: capitalize;
}

.Weather button {
    display: block;
}